@keyframes wobble {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-2deg); }
  100% { transform: rotate(0deg); }
}

.wobble {
  display: inline-block;
  animation: wobble 1s infinite ease-in-out;
}
